@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
body{
    background-image: url('../img/wallpaper.jpg');
}
h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: white;
    margin-top: 20px;
}
input[name="numero1"]{
    background-color: #404140;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    width : 150px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 600px;
    text-align: center;
}
input[name="numero2"]{
    background-color: #404140;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    width : 150px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 600px;
    text-align: center;
}
select[name="operacion"]{
    background-color: #404140;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 590px;
}
button[type="submit"]{
    background-color: #404140;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    width : 50px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 650px;
}
#resultado{
    color: aqua;
}
.texto1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
}
.texto2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
}
.texto3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
}